.row {
  background-color: #a6a6a6;
  height: 1000px;
  padding: 10px;
  margin: 0px 10px 0px 10px;
}

#header-nav {
	background-color: #a6a6a6;
	border: 1px solid black;
	margin-right: -15px
}

button {
	float: right;
}

.text-center {text-align: center;
	margin-bottom: 30px;
	font-weight: bold;
	font-size: 24px
}

.navbar-brand h3 {color: black; font-size: 26px; font-weight: bold; margin-top: 2px; margin-left: 2px; float: left}

h2 {text-align: center;
    margin-bottom: 15px;
    margin-top: 3px;
	font-weight: bold;
	font-size: 16px}

#nav-list {
  text-align: center;
  margin-right: 0px
}

#nav-list li:hover {background: #E7E7E7}

#nav-list li {font-size: 16px}